.search-bar {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 1.13em;
	color: #FFF;
	box-shadow: 0 6px 8px -4px #888;
}

.search-bar-background {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#424243), to(#292526));
    background-image: -webkit-linear-gradient(top, #424243, #292526); 
    background-image:    -moz-linear-gradient(top, #424243, #292526);
    background-image:     -ms-linear-gradient(top, #424243, #292526);
    background-image:      -o-linear-gradient(top, #424243, #292526);
}

.search-bar .pure-button {
	border-radius: 8px;
	padding: 0.3em 0.5em;
}

.search-bar input {
	border-radius: 5px;
}

.search-bar label, .search-bar button {
    display: none;
}